In [1]:
import pandas as pd
import geopandas as gp
from pandas_profiling import ProfileReport

In [9]:
health_df_raw = pd.read_csv('data/health.csv', index_col = 'facility_name')

Looks like this is a DF of health establishments detailing the facilities available and some location data.

In [24]:
# health_profile = ProfileReport(health_df_raw) # some sort of pandas incompatability error

C:\Users\BRPLSEC\Miniconda3\envs\geo_env\lib\multiprocessing\pool.py:475: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  iterable = list(iterable)
C:\Users\local_BRPLSEC\Temp\ipykernel_12748\3811747449.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  health_profile = ProfileReport(health_df_raw)
C:\Users\local_BRPLSEC\Temp\ipykernel_12748\3811747449.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  health_profile = ProfileReport(health_df_raw)

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [10]:
health_df_raw.head()

,facility_type_display,maternal_health_delivery_services,emergency_transport,skilled_birth_attendant,num_chews_fulltime,phcn_electricity,c_section_yn,child_health_measles_immun_calc,num_nurses_fulltime,num_nursemidwives_fulltime,...,antenatal_care_yn,family_planning_yn,malaria_treatment_artemisinin,sector,formhub_photo_id,gps,survey_id,unique_lga,latitude,longitude
facility_name,,,,,,,,,,,,,,,,,,,,,
HEALTH POST KAGBANG,Health Post,True,True,False,1.0,True,False,True,0.0,0.0,...,True,False,True,health,1393335750723.jpg,6.54340807 9.08470312 218.8000030517578 5.0,451a0efb-5fa6-4bad-93cd-7cf19eb50833,cross_river_obudu,6.543408,9.084703
Alhari Clinic,Primary Health Centre (PHC),True,True,True,4.0,True,False,True,1.0,1.0,...,True,False,True,health,1393316873034.jpg,9.00720861 7.67780798 432.8999938964844 5.0,5ddb68d6-02d2-44de-9df3-ebc840a1da42,nasarawa_karu,9.007209,7.677808
Primary health centre umukuru okehi,Basic Health Centre / Primary Health Clinic,True,True,True,2.0,True,True,True,4.0,11.0,...,True,True,True,health,1393594715772.jpg,5.1297 7.1592 73.3 5,2173b656-14eb-400d-9eef-76830379b065,rivers_etche,5.129700,7.159200
PHC EHOM CENTRAL,Primary Health Centre (PHC),True,False,False,2.0,False,False,True,0.0,0.0,...,True,True,True,health,1393330657159.jpg,5.4633 8.1464 117.8 5,963abf9d-5a72-4b35-811e-9c1830adc88b,cross_river_biase,5.463300,8.146400
Health post,Health Post,True,False,False,0.0,False,False,True,0.0,0.0,...,True,True,True,health,1393342042946.jpg,5.504 8.0251 52.4 5,9d09aaac-578c-4a48-a054-dee678a05422,cross_river_biase,5.504000,8.025100

In [8]:
health_df_raw.facility_name.value_counts

<bound method IndexOpsMixin.value_counts of 0                        HEALTH POST KAGBANG
1                              Alhari Clinic
2        Primary health centre umukuru okehi
3                           PHC EHOM CENTRAL
4                                Health post
                        ...
34134                   Kunle Medical Centre
34135                              PHC Ediba
34136                   UWANI MEDICAL CENTRE
34137                 Tungar Yawo Dispensary
34138               Pry Health Center Nkakat
Name: facility_name, Length: 34139, dtype: object>

COVID cases: Dates, locations and patient details for COVID cases
dates need parsing

In [15]:
covid_df_raw = pd.read_csv('https://raw.githubusercontent.com/dsfsi/covid19africa/master/data/line_lists/line-list-nigeria.csv',
                          index_col = ['case_id'])

In [16]:
covid_df_raw.head()

,origin_case_id,date,age,gender,city,province/state,country,current_status,source,symptoms,date_onset_symptoms,date_admission_hospital,date_confirmation,underlying_conditions,travel_history_dates,travel_history_location,death_date,notes_for_discussion,Unnamed: 19
case_id,,,,,,,,,,,,,,,,,,,
1,NaN,2/27/2020,44,Male,Ogun,Ogun,Nigeria,In recovery,www.bbc.com,NaN,NaN,2/27/2020,27-Feb-20,No,NaN,Italy,NaN,Patient came in from Italy.,NaN
2,NaN,03/09/2020,NaN,NaN,Ogun,Ogun,Nigeria,In treatment,https://twitter.com/NCDCgov/status/12376418124...,NaN,03/09/2020,03/09/2020,03/09/2020,No,NaN,NaN,NaN,NaN,NaN
3,NaN,3/16/2020,30,Female,Lagos,Lagos,Nigeria,Clinically Stable,https://twitter.com/NCDCgov/status/12398485450...,"Fever, Cold, Cough",NaN,3/17/2020,3/17/2020,NaN,13-Mar-20,United Kingdom,NaN,Patient returned from trip to UK and was in 14...,NaN
4,NaN,3/16/2020,58,Male,Lagos,Lagos,Nigeria,NaN,https://twitter.com/NCDCgov/status/12405579967...,NaN,NaN,NaN,NaN,NaN,13-Mar-20,USA,NaN,Patient returned from travel to USA,NaN
5,NaN,3/16/2020,38,Female,NaN,Ekiti,Nigeria,NaN,https://twitter.com/NCDCgov/status/12405579967...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient made contact with traveler from the USA,NaN

Population data

In [17]:
# WHOLE COUNTRY
nga_adm0_2020_df_raw = pd.read_csv('https://data.humdata.org/dataset/a7c3de5e-ff27-4746-99cd-05f2ad9b1066/resource/4710c51c-813b-481f-bb4e-ffb593e6f126/download/nga_admpop_adm0_2020.csv')

In [19]:
nga_adm0_2020_df_raw

,ADM0_NAME,ADM0_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,F_15_19,F_20_24,...,T_35_39,T_40_44,T_45_49,T_50_54,T_55_59,T_60_64,T_65_69,T_70_74,T_75_79,T_80Plus
0,NIGERIA,NG,100473260,104435960,204909220,15713253,13740497,12305947,10974474,9109497,...,11462880,9544981,7514275,5941812,4697628,3586657,2691997,1907879,1142924,752680

In [20]:
# ADMIN LEVEL 1
# Nigeria administrative level 1 (state) 2016 projected population statistics
nga_adm1_2020_df_raw = pd.read_csv('https://data.humdata.org/dataset/a7c3de5e-ff27-4746-99cd-05f2ad9b1066/resource/d9fc551a-b5e4-4bed-9d0d-b047b6961817/download/nga_admpop_adm1_2020.csv')
nga_adm1_2020_df_raw.head()

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,F_TL,M_TL,T_TL,F_00_04,F_05_09,F_10_14,...,T_35_39,T_40_44,T_45_49,T_50_54,T_55_59,T_60_64,T_65_69,T_70_74,T_75_79,T_80Plus
0,NIGERIA,NG,ABIA,NG001,1937239,1941738,3878977,210483,215867,248705,...,222947,194133,175852,134694,126513,84071,78976,48921,35513,19470
1,NIGERIA,NG,ADAMAWA,NG002,2168252,2228347,4396599,372760,320576,273011,...,225579,188995,143381,116482,94120,72897,58057,46415,27654,17161
2,NIGERIA,NG,AKWA IBOM,NG003,2789212,2876552,5665764,326260,342223,353787,...,340402,288166,256081,190410,160830,125151,98786,53539,32155,15171
3,NIGERIA,NG,ANAMBRA,NG004,2932876,3003908,5936784,319470,334304,379733,...,350214,302323,270660,201279,185087,122166,110187,64398,48022,23577
4,NIGERIA,NG,BAUCHI,NG005,3272516,3417618,6690134,639299,509011,402259,...,322124,276823,193548,172873,109191,101830,60952,58276,31020,23856

In [22]:
# ADMIN LEVEL 2
# Nigeria administrative level 2 (local government area) 2016 projected population statistics
nga_adm2_2020_df_raw = pd.read_csv('https://data.humdata.org/dataset/a7c3de5e-ff27-4746-99cd-05f2ad9b1066/resource/562e7757-0683-4d61-87bd-a7c94af2ee38/download/nga_admpop_adm2_2020.csv')
nga_adm2_2020_df_raw.head()

,ADM0_NAME,ADM0_PCODE,ADM1_NAME,ADM1_PCODE,ADM2_NAME,ADM2_PCODE,F_TL,M_TL,T_TL,F_00_04,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,NIGERIA,NG,ABIA,NG001,ABA NORTH,NG001001,57686,57619,115305,6388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NIGERIA,NG,ABIA,NG001,ABA SOUTH,NG001002,185314,199626,384940,19222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NIGERIA,NG,ABIA,NG001,AROCHUKWU,NG001003,126730,128709,255439,13544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NIGERIA,NG,ABIA,NG001,BENDE,NG001004,124460,120035,244495,13473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NIGERIA,NG,ABIA,NG001,IKWUANO,NG001005,155278,161525,316803,16378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Geo data for Nigeria from the GDB.
Read the GDB into a geopandas df
Looks like polygon boundaries for admin layers

In [26]:
nga_geodata = gp.read_file('data/nga_admbnda_osgof_eha_itos.gdb')

In [28]:
nga_geodata

,admin0Name_en,admin0Pcode,admin0RefName,admin0AltName1_en,admin0AltName2_en,date,validOn,validTo,Shape_Length,Shape_Area,geometry
0,Nigeria,NG,Nigeria,None,None,2016-11-29 00:00:00+00:00,2016-12-15 00:00:00+00:00,NaT,47.959164,75.002123,"MULTIPOLYGON (((8.34482 4.61140, 8.34496 4.609..."

In [29]:
nga_geodata.geometry

0    MULTIPOLYGON (((8.34482 4.61140, 8.34496 4.609...
Name: geometry, dtype: geometry